body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f0f0f0; /* 更改整体背景为浅灰色 */
}

header {
    background: #fff; /* 将header的背景设为白色 */
    color: #333; /* 修改header文字颜色为深灰色 */
    padding: 10px 0;
    text-align: center;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 添加轻微阴影效果 */
    z-index: 1000; /* 确保header在其他内容之上 */
}

header .logo {
    position: absolute;
    left: 10px;
    top: 10px;
}

header .logo img {
    height: 50px; /* 设置logo的高度 */
}

header h1 {
    margin: 0;
    padding-left: 70px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 10px 0 0 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #333; /* 修改导航链接颜色为深灰色 */
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #f4f4f4; /* 修改导航链接悬停时的背景色 */
    border-radius: 5px;
}

main {
    padding: 20px;
}

main .intro {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}

main .intro .background-image {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 400px;
}

main .intro .background-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 确保图片覆盖整个区域并保持比例 */
    object-position: center; /* 确保图片居中显示 */
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.announcements {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
